<template>
  <div>
    <b-button variant="outline-primary"
              v-b-modal='"Create"' title="Create">
      Create
    </b-button>

    <div class="lists">
      <b-list-group>
        <b-list-group-item>pescitarien</b-list-group-item>
        <b-list-group-item v-for="kebab in pesc" :key="kebab.name">
          <div>
            <div class="name">{{kebab.name}}</div>
            <div>
              <span v-for="ingredient in kebab.ingredients" :key="ingredient" >
                {{ingredient}}
              </span>
            </div>
            <div>
              {{ kebab.double && kebab.fromages.length > 0 ? '(' : '' }}
              <span v-for="fromage in kebab.fromages" :key="fromage" >
                {{fromage}}
              </span>
              {{ kebab.double && kebab.fromages.length > 0 ? ') X2' : '' }}
            </div>
            <div>
              <span v-for="sauce in kebab.sauces" :key="sauce" >
                {{sauce}}
              </span>
            </div>
          </div>
        </b-list-group-item>
      </b-list-group>

      <b-list-group>
        <b-list-group-item>végé</b-list-group-item>
        <b-list-group-item v-for="kebab in vege" :key="kebab.name">
          <div>
            <div class="name">{{kebab.name}}</div>
            <div>
              <span v-for="ingredient in kebab.ingredients" :key="ingredient" >
                {{ingredient}}
              </span>
            </div>
            <div>
              {{ kebab.double && kebab.fromages.length > 0 ? '(' : '' }}
              <span v-for="fromage in kebab.fromages" :key="fromage" >
                {{fromage}}
              </span>
              {{ kebab.double && kebab.fromages.length > 0 ? ') X2' : '' }}
            </div>
            <div>
              <span v-for="sauce in kebab.sauces" :key="sauce" >
                {{sauce}}
              </span>
            </div>
          </div>
        </b-list-group-item>
      </b-list-group>

      <b-list-group>
        <b-list-group-item>non-végé</b-list-group-item>
        <b-list-group-item v-for="kebab in nonVege" :key="kebab.name">
          <div>
            <div class="name">{{kebab.name}}</div>
            <div>
              <span v-for="ingredient in kebab.ingredients" :key="ingredient" >
                {{ingredient}}
              </span>
            </div>
            <div>
              {{ kebab.double && kebab.fromages.length > 0 ? '(' : '' }}
              <span v-for="fromage in kebab.fromages" :key="fromage" >
                {{fromage}}
              </span>
              {{ kebab.double && kebab.fromages.length > 0 ? ') X2' : '' }}
            </div>
            <div>
              <span v-for="sauce in kebab.sauces" :key="sauce" >
                {{sauce}}
              </span>
            </div>
          </div>
        </b-list-group-item>
      </b-list-group>
    </div>

    <!-- <div class="lists">
      <div>
        <span>vege</span>
        <div v-for="kebab in vege" :key="kebab.name">{{kebab.name}}</div>
      </div>
      <div>
        <span>non-vege</span>
        <div v-for="kebab in nonVege" :key="kebab.name">{{kebab.name}}</div>
      </div>
    </div> -->

    <b-modal id='Create' title="Create" @ok="createKebab">
      <b-form-group id="input-group-2" label="Article name" label-for="input-2">
        <b-form-input
          id="createName"
          v-model="create.name"
          placeholder="Article name"
          required
        />
      </b-form-group>
      <b-form-group id="input-group-4" v-slot="{ ariaDescribedby }">
        <b-form-checkbox-group
          v-model="create.ingredients"
          id="checkboxes-4"
          :aria-describedby="ariaDescribedby"
        >
          <b-form-checkbox v-for="ingredient in ingredients"
                           :key="ingredient" :value="ingredient">{{ingredient}}
          </b-form-checkbox>
        </b-form-checkbox-group>
        <b-form-checkbox-group
          v-model="create.fromages"
          id="checkboxes-1"
          :aria-describedby="ariaDescribedby"
        >
          <b-form-checkbox v-for="fromage in fromages"
                           :key="fromage" :value="fromage">{{fromage}}
          </b-form-checkbox>
        </b-form-checkbox-group>
        <b-form-checkbox
          v-if="create.fromages.length > 0"
          v-model="create.double">Double Fromage !!</b-form-checkbox>
        <b-form-checkbox-group
          v-model="create.sauces"
          id="checkboxes-0"
          :aria-describedby="ariaDescribedby"
        >
          <b-form-checkbox v-for="sauce in sauces"
                           :key="sauce" :value="sauce">{{sauce}}
          </b-form-checkbox>
        </b-form-checkbox-group>
      </b-form-group>
    </b-modal>
  </div>
</template>

<script>

export default {
  name: 'Home',
  components: {},
  data() {
    const iViandes = ['Viande', 'Poulet'];
    const iVege = ['Salade', 'Oignon', 'Tomate', 'Pain'];
    const iPoisson = ['Poisson', 'Crevette', 'Surimi'];
    const sauces = ['blanche', 'béchamel', 'algérienne', 'ketchup', 'mayo', 'moutarde', 'barbecue', 'samouraï'];
    const fromages = ['Cheddar', 'Raclette', 'Maroilles'];
    return {
      iViandes,
      iVege,
      iPoisson,
      sauces,
      fromages,
      ingredients: [...iViandes, ...iVege, ...iPoisson],
      kebabs: [],
      create: {
        name: 'Kebab',
        ingredients: ['Pain'],
        fromages: [],
        sauces: [],
        double: false,
      },
    };
  },
  watch: {
    // eslint-disable-next-line func-names
    'create.double': function (val) {
      if (val) {
        this.create.fromage = false;
      }
    },
  },
  computed: {
    pesc() {
      // eslint-disable-next-line arrow-body-style
      return this.kebabs.filter((kebab) => {
        // eslint-disable-next-line max-len
        return kebab.ingredients.some((i) => this.iPoisson.includes(i))
          && !kebab.ingredients.some((i) => this.iViandes.includes(i));
      });
    },
    vege() {
      // eslint-disable-next-line arrow-body-style
      return this.kebabs.filter((kebab) => {
        return kebab.ingredients.every((i) => this.iVege.includes(i));
      });
    },
    nonVege() {
      // eslint-disable-next-line arrow-body-style
      return this.kebabs.filter((kebab) => {
        return kebab.ingredients.some((i) => this.iViandes.includes(i));
      });
    },
  },
  methods: {
    createKebab() {
      this.kebabs.push({
        name: this.create.name,
        ingredients: this.create.ingredients,
        fromages: this.create.fromages,
        double: this.create.double,
        sauces: this.create.sauces,
      });
      console.log(this.kebabs);
      this.create = {
        name: 'Kebab',
        ingredients: ['Pain'],
        fromages: [],
        sauces: [],
        double: false,
      };
    },
  },
};
</script>

<style scoped>
.lists {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  padding: 1em;
}
.lists > * {
  flex: 1 1 auto;
}
.lists > *:not(:first-child) {
  margin-left: 1em;
}
</style>
